@mixin default-block {
  background-color: rgba(255, 255, 255, 1.0);
  border: 1px solid rgba(244, 244, 244, 1.0);
  box-shadow: 1px 1px 4px 1px rgba(222, 222, 222, 1.0);
  &:hover {
    background-color: rgba(222, 222, 222, 1.0);
  }
}
