$light-gray-color: #D9D9D9 !global;
$mid-gray-color: #8E8E8E !global;
$heavy-gray-color: #3D3D3D !global;

$light-blue-color: #ABAEFF !global;
$blue-color: #5C63FF !global;

$confirmed-color: #00C52B !global;
$wrong-color: #FF5353 !global;

$light-gray-color-border: 1px solid $light-gray-color !global;
$blue-color-border: 1px solid $blue-color !global;
