:root {
    --light-gray-color: #D9D9D9;
    --mid-gray-color: #8E8E8E;
    --heavy-gray-color: #3D3D3D;

    --light-blue-color: #ABAEFF;
    --blue-color: #5C63FF;

    --confirmed-color: #00C52B;
    --wrong-color: #FF5353;
}
